
.button {
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80px;
}

.green {
    background-color: cadetblue;
}

.blue {
    background-color: rgb(46, 46, 196);
    width: 130px;
}


